body {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 14px;
    text-align: center;
    color: rgb(245, 231, 208);
}

@media (min-width: 768px){
    img {
        width: 100%
    }
}

.h1 {
    text-align: center;
    font-family: "Gill Sans", sans-serif;
}

.image {
    max-width: 600px;
    width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
    border-radius: 10px;
}

ul {
    text-align: center;
    list-style-type: none;
}

li { 
    display: flex;
    align-items: center;
    justify-content: center;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 140px;
    height: auto;
    padding: 20px;
    margin: 10px auto; 
    font-size: 20px;
    border-radius: 5px;
    color: black;
    background-color: antiquewhite;
}

